<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="MY_Bharat_App Test Suite" parallel="false">
    <test name="All Test Classes">
        <classes>
            <class name="mybharat.tests.SplashScreenTest"/>
            <class name="mybharat.tests.HomePageTest"/>
            
        </classes>
    </test>
</suite>